<template data-controller-name="Snake.Game.controller.Main">
	<div data-sap-ui-type="sap.m.App" data-enableScrolling="false">
		<div data-sap-ui-type="sap.m.Page" data-title="{i18n>title}" data-enableScrolling="false">
			<div data-sap-ui-aggregation="content">
				<div class= 'game'>
					<div id = 'home'>
    					<canvas id='mycanvas' width='600' height='600'>
    					</canvas>
    				</div>
					<p>Press start and eat the pizza!</p>
					<button data-sap-ui-type="sap.m.Button" data-text="START" id='btn'/>
				</div>
			</div>
		</div>
	</div>
</template>